<h1>Windows Azure Service Runtime samples</h1>

<section id="deployment">
  <h2>Deployment</h2>
  <table>
    <tr>
      <td>ID</td>
      <td><%= deployment.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= deployment.name %></td>
    </tr>
    <tr>
      <td>Is running in the emulator</td>
      <td><%= deployment.is_emulated? %></td>
    </tr>
  </table>

  <form action="request_recycle" method="post">
    <input type="submit" value="Request recycle" />
  </form>
</section>

<section id="current_role_instance">
  <a href="role_instance/<%= current_role_instance.id  %>"><h2>Current role instance information</h2></a>
</section>

<section id="roles">
  <h2>Roles</h2>
  <ul>
    <% roles.values.each do |role| %>
      <li>
        <%= role.name %>
        <ul>
          <% role.instances.values.each do |role_instance| %>
            <li><a href="role_instance/<%= role_instance.id %>"><%= role_instance.id %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</section>
