<h1>Role instance <%= role_instance.id %></h1>
<table>
  <tr>
    <td>ID</td>
    <td><%= role_instance.id %></td>
  </tr>
  <tr>
    <td>Role</td>
    <td><%= role_instance.role_name %></td>
  </tr>
  <tr>
    <td>Fault domain</td>
    <td><%= role_instance.fault_domain %></td>
  </tr>
  <tr>
    <td>Update domain</td>
    <td><%= role_instance.update_domain %></td>
  </tr>
</table>

<h3>Endpoints</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Port</th>
      <th>Protocol</th>
    </tr>
  </thead>
  <tbody>
    <% role_instance.endpoints.values.each do |endpoint| %>
      <tr>
        <td><%= endpoint.name %></td>
        <td><%= endpoint.address %></td>
        <td><%= endpoint.port %></td>
        <td><%= endpoint.protocol %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Configuration settings</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% role_instance.configuration_settings.each do |setting| %>
      <tr>
        <td><%= setting[0] %></td>
        <td><%= setting[1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Local resources</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <% role_instance.local_resources.values.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.size %></td>
        <td><%= resource.path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
